.abc{
	margin-top: 15%;	
	margin-left: 35%;
}

.form #abc{
  
    font-family: "roboto",sans-serif;

    text-transform: uppercase;

    outline: 0;

    background:rgb(0,100,0);

    width: 100%;

    border: 0;

    padding: 15px;

    color:#ffffff;

    font-size:15px; 

    cursor:pointer;

}

.form #abc:hover,.form #abc:active{

    background: #43A047;

}